// підключаю шрифти
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
// обнуляю
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box; // розмір контейнера
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
body,
html {
	min-height: 100%;
}
body.lock {
	overflow: hidden;
}
html {
	line-height: 1;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 18px;
	color: #000;
	background: #E5E5E5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex; // притиск футера до низу
	flex-direction: column; // притиск футера до низу
}
// bounding box (обмежуючий контейнер)
.__container {
	max-width: 1607px; // максимальна ширина
	padding: 0px 15px; // антиприлипальні поля
	margin: 0 auto; // відцентрування
	box-sizing: content-box; // антиприлипання до краю
}
// [class*="__container"] {
// 	max-width: 1590px;
// 	padding: 0px 15px;
// 	margin: 0 auto;
// 	box-sizing: content-box;
// }
// основна сітка брейкпоінтів
// pc; // ПК, планшети, деякі планшети в горизонтальному положенні
// tablet: 991.98 = 992 // планшети, деякі телефони в горизонтальному положенні
// mobile: 767.98 = 768 // телефони L
// smallmobile: 479.98 = 480 // телефони S

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.header {
// .header__top
	&__top {
		background-color: #141414;
		box-shadow: 0px 4px 20px rgba(169, 169, 169, 0.3);
	}
// .header__body
	// &__body {
	// }
// .header__catalog
	// &__catalog {
	// }
}
.lock-padding {
}
.top-header {
	padding: 10px 0px; // поле безпеки на випадок докидування пунтктів
// .top-header__container
	&__container {
		display: flex;
		align-items: center;
		gap: 20px;
		min-height: 50px;
	}
// .top-header__menu
	&__menu {
		flex: 1 1 auto; // дозволяю розширюватись
	}
// .top-header__user
	&__user {
		display: flex;
		&::before {
			font-size: 28px;
			margin-right: 15px;
		}
		color: #fff;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 600;
		line-height: 122.222222%; /* 22/18 */
		// працює на пристроях з мишкою
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
}
.menu-top-header {
// .menu-top-header__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: 5px;
		column-gap: 60px;
	}
// .menu-top-header__item
	// &__item {
	// }
// .menu-top-header__link
	&__link {
		color: #fff;
		font-family: 'Monserrat';
		font-size: 16px;
		font-weight: 500;
		line-height: 125%; /* 20/16 */
		// працює на пристроях з мишкою
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.menu {
// .menu__icon
	// &__icon {
	// }
// .menu__body
	&__body {
		@media (max-width: 768px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			background-color: #141414;
		}
		@media (max-width: 992px) {
			flex: 0 0 30px;
			display: block;
		}
	}
// .menu__list
	&__list {
	}
// .menu__item
	&__item {
	}
// .menu__link
	&__link {
	}
}

// ======================================================================================
// burger
.icon-menu {
	@media (max-width: 768px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		background-color: #000;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: ""; 
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #E8AA31;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				top: calc(50% - 1px);
			}
		}
	}
}
//=======================================================================================

.body-header {
	padding: 10px 0px;
	background-color: #ecf1f2;
// .body-header__container
	&__container {
		display: flex;
		min-height: 70px;
		align-items: center;
	}
// .body-header__logo
	&__logo {
		font-size: 42px;
		color: #141414;
		@media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
	}
// .body-header__search
	&__search {
		flex: 1 1 auto; // дозволяю розширюватись
		padding-left: 158px;
		padding-right: 20px;
		@media (max-width: 1250px) {
			padding-left: 20px;
		}
	}
// .body-header__actions
	// &__actions {
	// }
}
.search-header {
	max-width: 377px;
	position: relative;
// .search-header__btn
	&__btn {
		position: absolute;
		width: 41px;
		height: 41px;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 8px;
		background: transparent;
		font-size: 16px;
		color: rgba(0, 0, 0, 0.5);
		@media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
	}
// .search-header__input
	&__input {
		width: 100%;
		height: 41px;
		background: rgba(7, 7, 7, 0.03);
		border-radius: 3px;
		padding: 0px 20px 0px 50px;
		font-family: 'Montserrat';
		font-size: 14px;
		font-weight: 500;
		line-height: 121.428571%; /* 17/14 */
		color: rgba(0, 0, 0, 0.7);
		&::placeholder {
			color: rgba(0, 0, 0, 0.4);
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.actions-header {
	display: flex;
	align-items: center;
	column-gap: 30px;
	@media (max-width: 1000px) {
		column-gap: 20px;
	}
// .actions-header__location
	&__location {
		display: inline-flex;
		align-items: center;
		@media (max-width: 1400px) {
			margin-right: 0;
		}
		&::before {
			font-size: 24px;
			margin: 0px 10px 0px 0px;
			color: #000;
		}
		color: #000;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 600;
		line-height: 122.222222%; /* 22/18 */
		margin: 0px 25px 0px 0px;
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
// .actions-header__phones
	// &__phones {
	// }
// .actions-header__favorite
	&__favorite {
		font-size: 28px;
		color: #000;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
// .actions-header__cart
	&__cart {
		flex: 0 0 auto;
	}
}
.phones-header {
// .phones-header__items
	// &__items {
	// }
// .phones-header__item
	&__item {
		position: relative;
		white-space: nowrap; // щоб випадашка не скукожувалась
		display: flex;
	}
// .phones-header__phone
	&__phone {
		display: flex; // для розширення телефонів
		white-space: nowrap; // щоб телефони не з'їжджали
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 600;
		line-height: 122.222222%; /* 22/18 */
		color: #000;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
// .phones-header__arrow
	&__arrow {
		font-size: 10px;
		color: #E8AA31;
		padding-left: 17px;
		transition: all 0.3s ease 0s;
		&._active {
			transform: rotate(-180deg);
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
// .phones-header__list
	&__list {
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		z-index: 2;
		background-color: #aaa8a8;
		padding: 15px;
		border-radius: 15px;
		li {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
// .phones-header__callback
	&__callback {
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 700;
		line-height: 122.222222%; /* 22/18 */
		color: #E8AA31;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.popup-link {
}
// попап без JS (попап із JS)
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(246, 152,152, 0.3);
	top: 0;
	left: 0;
	opacity: 0; // ховаю попап
	visibility: hidden; // ховаю попап
	// відкриття попапа за допомогою target
	&:target {
		opacity: 1;
		visibility: visible;
	}
	// для відкриття з JS
	&.open {
		opacity: 1;
		visibility: visible;
	}
	overflow-y: auto; // для доступності прокрутки при великій кількості тексту в попапі
	overflow-x: hidden; // для доступності прокрутки при великій кількості тексту в попапі
	&:target .popup__content {
		opacity: 1;
		// transform: translate(0px, 0%);
		transform: perspective(700px) translate(0px, 0%) rotateY(0deg) rotateX(0deg);
	}
	// для відкриття з JS
	&.open .popup__content {
		opacity: 1;
		// transform: translate(0px, 0%);
		transform: perspective(700px) translate(0px, 0%) rotateY(0deg) rotateX(0deg);
	}
// .popup__area
	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
// .popup__wrapper
	&__wrapper {
		// min-height: 100%;
		display: flex;
		justify-content: center;
		padding: 40px 20px;
	}
// .popup__content
	&__content {
		background-color: #fff;
		max-width: 800px;
		padding: 35px;
		position: relative;
		// анімую контент попапа
		transition: all 0.8s ease 0s;
		opacity: 0;
		// transform: translate(0px, -100%);
		transform: perspective(700px) translate(0px, -100%) rotateY(65deg) rotateX(45deg);
	}
// .popup__close
	&__close {
		position: absolute;
		right: 30px;
		top: 15px;
		font-size: 25px;
		cursor: pointer;
		background-color: transparent;
	}
// .popup__text
	&__text {
		font-family: 'Montserrat';
		font-size: 22px;
		font-weight: 600;
		line-height: 100%; /* 22/22 */
		color: #f55050;
	}
}
.cart-header {
	display: flex;
	align-items: center;
	column-gap: 15px;
// .cart-header__icon
	&__icon {
		flex: 0 0 37px;
		font-size: 35px;
		position: relative;
		span {
			position: absolute;
			width: 14px;
			height: 14px;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			right: 0;
			background-color: #E8AA31;
			border-radius: 50%;
			font-size: 12px;
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
// .cart-header__body
	&__body {
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 500;
		line-height: 125%; /* 20/16 */
		flex: 0 0 auto;
		@media (max-width: 1250px) {
			display: none;
		}
	}
// .cart-header__summ
	&__summ {
		color: #000;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
// .cart-header__link
	&__link {
		color: #E8AA31;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.catalog-header {
	background-color: #141414;
	box-shadow: 0px 4px 20px rgba(53, 53, 53, 0.18);
	position: relative;
// .catalog-header__container
	// &__container {
	// }
// .catalog-header__menu
	// &__menu {
	// }
}
.menu-catalog {
// .menu-catalog__list
	&__list {
		display: flex;
		gap: 10px;
		justify-content: space-between;
		// position: relative;
	}
// .menu-catalog__item
	// &__item {
	// }
// .menu-catalog__link
	&__link {
		color: #fff;
		min-height: 70px;
		padding: 0px 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;
		transition: all 0.3s ease 0s;
		&::after {
			content: "";
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: 10px;
			height: 2px;
			background-color: #E8AA31;
			width: calc(100% - 20px);
			transition: all 0.3s ease 0s;
		}
		font-size: 18px;
		font-weight: 500;
		line-height: 122.222222%; /* 22/18 */
		@media (any-hover: hover) {
			&:hover {
				color: #E8AA31;
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&._sub-menu-active {
			color: #E8AA31;
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
		// &.sub-menu {}
	}
// .menu-catalog__sub-menu
	&__sub-menu {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: #141414;
		transition: all 0.3s ease 0s;
	}
}
// .menu-catalog__link:hover {
// 	&.sub-menu-catalog__block {
// 		opacity: 1;
// 		visibility: visible;
// 	}
// }
.sub-menu-catalog {
	// position: absolute;
// .sub-menu-catalog__container
	&__container {
		padding: 0px 10px;
	}
// .sub-menu-catalog__block
	&__block {
		// display: flex;
		// display: none;
		display: grid;
		for $var from 1 to 6 {
			&_#{$var} {
				// justify-items: start;
				grid-template-columns: repeat($var, minmax(auto, 320px));
			}
		}
		&._sub-menu-open {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
		}
		// opacity: 1;
		// visibility: visible;
		// display: none;
		// &._sub-menu-open {
		// 	display: flex;
		// }
		// &:hover {
		// 	position: absolute;
		// 	opacity: 1;
		// 	visibility: visible;
		// }
// .sub-menu-catalog__block_5
		// &_5 {
		// }
// .sub-menu-catalog__block_2
		// &_2 {
		// }
	}
// .sub-menu-catalog__category
	&__category {
		padding: 30px 15px 30px 0px;
	}
// .sub-menu-catalog__link-category
	&__link-category {
		color: #fff;
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 700;
		line-height: 125%; /* 20/16 */
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
// .sub-menu-catalog__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px 15px 30px 0px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
// .sub-menu-catalog__item
	// &__item {
	// }
// .sub-menu-catalog__link
	&__link {
		color: #fff;
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 500;
		line-height: 125%; /* 20/16 */
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
// .sub-menu-catalog__footer
	&__footer {
		padding: 30px 15px 30px 0px;
	}
// .sub-menu-catalog__all
	&__all {
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 500;
		line-height: 125%; /* 20/16 */
		color: #E8AA31;
		@media (any-hover: hover) {
			&:hvoer {
				text-decoration: underline;
			}
		}
	}
}